#flex-wrapper > header {
   display: flex;
   padding: var(--spacing-xxs);
   gap: var(--spacing-xxs);
}

#flex-wrapper > header button {
   height: auto;
   padding: var(--spacing-xs) var(--spacing-sm);
   line-height: var(--line-height-sm);
   font-size: var(--font-sm);
}

#flex-wrapper > footer {
   border-style: solid;
   border-width: 2px 0 0 0;
   border-radius: var(--rounded-lg);
   border-color: var(--pink);
}
