#flex-wrapper > header {
   display: flex;
   padding: var(--spacing-xxs);
   gap: var(--spacing-xxs);
}

#flex-wrapper > header button {
   height: auto;
   padding: var(--spacing-xs) var(--spacing-sm);
   line-height: normal;
   font-size: var(--font-sm);
}
